<div class="top-page"> 
  <div class="toptext">
    <div class="top-page-title">
      <p>Prolog.</p>
    </div>
    <div class="top-page-text">
    <p>WELCOME !！<br>このアプリは、プログラミングの学習を頑張るあなたをサポートします！</p>
    </div>
    <div class="top-page-text">
      <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
    </div>
  </div>
</div>