<div class="top-page">
  <%= image_tag asset_path('top-image.jpg') %>
  <div class="top-text">
    <div class="top-page-title">
      <p>Prolog.</p>
    </div>
    <div class="top-page-text">
    <p>WELCOME !！<br>プログラミング初心者のエラーや解決方法を共有しよう！</p>
    </div>
    <div class="top-page-btn">
      <%= link_to "ログイン", new_user_session_path, class: "top__right--btn top-login" %>
      <%= link_to "新規登録", new_user_registration_path, class: "top__right--btn top-register" %>
    </div>
  </div>
</div>