<div class="user-member">
  <div class="back-icon">
    <%= link_to programminglogs_path do %>
    <i class="fas fa-arrow-left"></i>
    <% end %>
  </div> 
  <h1>all user</h1>
  <div class="user-members">
    <% @users.each do |user| %>
      <div class="members">
        <a href="/users/<%= user.id %>"><%= user.name %></a>
        <div class="user__image" style="background-image: url(<%= user.image %>);"></div>
      </div>
    <% end %>
  </div>
</div>
