<div class="prologtitle">
  <%= @user.name %>さんの投稿一覧
</div>

<div class="texts">
<div class="text">
<% @programminglogs.each do |prolog| %>
   <% @programminglogs.each do |prolog|%>
    <%= render partial: "programminglogs/prolog", locals: { prolog: prolog } %>
  <% end %>
<% end %>
</div>
</div>