<div class="search_index">
  <div class="back-icon">
    <%= link_to programminglogs_path do %>
    <i class="fas fa-arrow-left"></i>
    <% end %>
  </div> 
  <div class="index-page_search">
    <div class="index-page__main">
      <div class="prolog-toppage">
        <p>Prolog</p>
      </div>

      <div class="texts">
        <div class="text">
          <% @programminglogs.each do |prolog|%>
            <%= render partial: "prolog", locals: { prolog: prolog } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>