.likes_text{
  background-image: image-url("colku.jpg");
  height: auto;
  .back-icon{
    font-size: 35px;
    margin: 25px;
    a{
      color: white;
    }
  }
  .likes_rank{
    padding-top: 30px;
    text-align: center;
    width:400px;/*幅はお好きなサイズに*/
    font-size: 40px;
    margin: 1.6em 0;
    padding: 0.3em;
    position: relative;
    /* グラデーションで折り目がついた感じに */
    background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
    content:"";
    display:block;
    width: 30%;
    // background: rgba(0,0,0,0.5);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    transform: rotate(2deg);
    margin: 0 auto;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  .ranking{
  color: #fff;
  font-size: 25px;
  position: absolute;
  z-index: 3;
  background-color: darkgoldenrod;
  padding: 5px;
  }
}