// 新規投稿ページ
.new-page{
  width: 100%;
  height: 100vh;
  background-image: image-url("colku.jpg");
  color: black;
  .back-icon{
    font-size: 35px;
    margin: 25px;
    a{
      color: white;
    }
  }
  .new-page-title{
    text-align: center;
    padding-bottom: 20px;
    h1{
      padding-top: 30px;
      text-align: center;
      width:400px;/*幅はお好きなサイズに*/
      font-size: 40px;
      margin: 1.6em 0;
      padding: 0.3em;
      position: relative;
      /* グラデーションで折り目がついた感じに */
      background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
      content:"";
      display:block;
      width: 30%;
      // background: rgba(0,0,0,0.5);
      box-shadow: 0 5px 5px rgba(0,0,0,0.3);
      transform: rotate(2deg);
      margin: 0 auto;
      text-align: center;
      font-family: 'Indie Flower', cursive;
    }
  }
  .form{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 500px;
  }
  
  form{
    margin-top: 20px;
  }
  .form__title{
    width: 600px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-left: 10px;
  }
  .form__image{
    width: 600px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .form__text{
    width: 600px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
  #programminglog_tag_list{
    margin-bottom: 30px;
    width: 600px;
    height: 60px;
  }
}
