// 投稿ページ



// メイン部分
.index-page{
  width: 100%;
  height: calc(100vh - 100px);
  overflow: scroll;
  // position: relative;
}

.prolog-toppage{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.texts{
  padding: 30px;
  display: grid;
  margin: 30px 0px;
  width: 100%;
}
.text{
  margin: 0 auto;
}
.textonly{
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  width: 500px;
}
.text__image{
  height: 100px;
  width: 100px;
  border: solid 1px;
  background-size: cover;
}
.text__title{
  width: calc(100%-100px);
  font-size: 20px;
  font-weight: bold;
}
.text__right{
  padding: 0 15px;
}
// header a{
//   margin-right: 10px;
// }
header a:hover{
  padding: 10px 0;
  background-color: rgb(135, 235, 230);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}
.user_nav{
  line-height: 46px;
  font-size: 20px;
  padding-left: 10px;
}
.user_nav a{
  color: gray;
}
.user_nav a:hover{
  text-decoration: none;
}

.search-btn:hover{
  background-color: rgb(135, 235, 230);
}

.navbar-brand{
  font-size: 30px;
}




// 新規投稿ページ
.new-page{
  width: 100%;
  height: calc(100vh - 68px);
  background-image: url("new2.jpg");
  background-repeat: no-repeat;
}
.form{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 500px;
  float: right;
  margin-right: 100px;
}
.new-page-title{
  margin: 30px 0px 0px 40px;
}
form{
  margin-top: 20px;
}
.form__title{
  width: 600px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.form__image{
  width: 600px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.form__text{
  width: 600px;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 5px;
}
#programminglog_tag_list{
  margin-bottom: 30px;
}

label{
  width: 100%;
}
// .tag_label{
//   width: 100%;
// }

// 詳細ページ
.showpage{
  text-align: center;
  overflow: scroll;
}
.prologtitle{
  font-size: 30px;
}
img {
  width: 400px;
  height: 300px;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // margin: 20px auto;
}

// #lightbox .lb-container {
//   height: 100%;
//   width: 100%;
// }
// #lightbox .lb-outerContainer {
//   height: 100%;
//   width: 100%;
// }
// #lightbox .lb-nav{
//   height: 100%;
//   width: 100%;
// }
.unko{
  width: 600px;
  height: 600px;
}


.prologtitle{
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}
.prologtext{
  text-align: center;
  font-size: 25px;
}


// 検索ページ
.search-page__main{
  overflow: scroll;
}