// 投稿ページ

// 戻るアイコン
.fa-arrow-circle-left:before{
  color: black;
  font-size: 40px;
}

// メイン部分
.index-page{
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding-top: 90px;
  background-image: url(colku.jpg);
}

// ヘッダー
header{
  position: fixed;
  z-index: 1;
  width: 100%; 
  height: 90px;
  background-image: url(soto.jpg);
  display: flex;
}
.navbar-brand{
  font-size: 20px;
}
.navbar{
  display: flex;
}
.search{
  justify-content: end;
  text-align: center;
  width: 350px;
}
.search-form{
  width: 340px;
  display: flex;
  justify-content: end;
}
.search-input{
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}
.search-btn{
  padding: 90px;
  width: 80px;
  margin-left: 10px;
}
.search-form input[type="submit"]{
  width: 110px;
}
.search-box{
  display: flex;
}
.fa-sign-out-alt{
  padding-right: .5rem;
  padding-left: .5rem;
}
.prolog-toppage{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.texts{
  padding: 30px;
  display: grid;
  margin: 30px 0px;
  width: 100%;
  
}
.text{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 330px 330px 330px;
}
.textonly{
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.6s ease 0s;
  position: relative;
}
.textonly::before{
  content:"";
  background:url(http://hibana.xii.jp/icon/pin/004/c18.png) no-repeat;/* 背景画像にピンを、繰り返してほしくないのでno-repeat指定 */
  width:50px;
  height:50px;
  top:-23px;
  left:130px;
  position:absolute;
}
.textonly:hover{
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.text__image{
  height: 300px;
  width: 300px;
  border: solid 1px;
  background-size: cover;
}
.text__title{
  width: calc(100%-100px);
  font-size: 20px;
  font-weight: bold;
}
.text__right{
  padding: 10px 10px;
  background-color: white;
}
.content__right__top--title{
  font-size: 15px;
  color: black;
}
.content__right__top--title:hover{
  text-decoration: none;
}
.user__name{
  display: flex;
  padding-bottom: 5px;
}
.user__name img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}
.content__right__bottom--username{
  line-height: 50px;
  margin-left: 8px;
  font-size: 20px;
}
.good{
  justify-content: end;
  padding-top: 5px;
}

header a:hover{
  // padding: 10px 0;
  // border: 1px solid black;
  // border-radius: 5px;
  // color: black;
  // text-decoration: none;
}
.user_nav{
  line-height: 46px;
  font-size: 20px;
}
.user_nav a{
  color: gray;
}
.user_nav a:hover{
  text-decoration: none;
  color: black;
  // padding: 10px;
}
.nav-user{
  // padding-left: 20px;
}
.search-btn:hover{
  background-color: rgb(135, 235, 230);
}

.navbar-brand{
  font-size: 30px;
}


// 新規投稿ページ
.new-page{
  width: 100%;
  height: 100%;
  background-image: url("new2.jpg");
  background-repeat: no-repeat;
}
.form{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 500px;
  float: right;
  margin-right: 100px;
}
.new-page-title{
  margin: 30px 0px 0px 40px;
}
form{
  margin-top: 20px;
}
.form__title{
  width: 600px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.form__image{
  width: 600px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.form__text{
  width: 600px;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 5px;
}
#programminglog_tag_list{
  margin-bottom: 30px;
}

// 編集ページ
.index-page_edit{
  margin: 0 auto;
  padding-top: 30px;
}

// 検索ページ
.search-page__main{
  overflow: scroll;
}