// 投稿ページ

@font-face {
  font-family: 'HuiFontP109';
  src: url('font/HuiFontP109.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// 戻るアイコン
.fa-arrow-circle-left:before{
  color: black;
  font-size: 40px;
}

// メイン部分
.index-page{
  width: 100%;
  height: auto;
  padding-top: 120px;
  background-image: image-url("colku.jpg");
  min-height: 100%;
  overflow: auto;
}

// ヘッダー
header{
  position: fixed;
  z-index: 1;
  width: 100%; 
  height: 90px;
  background-image: image-url("soto.jpg");
  display: flex;
  .nav{
    display: flex;
    justify-content: space-between;
    .nav-nav{
      display: flex;
      line-height: 90px;
      .choice{
        margin-left: 20px;
        font-size: 18px;
        a{
          color: white;
          text-decoration: none;
        }
      }
      .user_nav{
        line-height: 90px;
      }
    }
    .search{
      justify-content: end;
      text-align: center;
      width: 350px;
      padding-top: 20px;
      .search-box{
        display: flex;
        .search-form{
          width: 340px;
          display: flex;
          justify-content: end;
          input[type="submit"]{
            width: 110px;
          }
          .search-btn:hover{
            background-color: rgb(135, 235, 230);
          }
        }
      } 
    }
  }
}


.search-input{
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}
.search-btn{
  padding: 90px;
  width: 80px;
  margin-left: 10px;
}

.search-form input[type="submit"]{
  width: 110px;
}
.search-box{
  display: flex;
}



.fa-sign-out-alt{
  padding-right: .5rem;
  padding-left: .5rem;
}
.prolog-toppage{
  width:400px;/*幅はお好きなサイズに*/
  font-size: 2.8em;
  margin: 1.6em 0;
  padding: 0.3em;
  position: relative;
  /* グラデーションで折り目がついた感じに */
  background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
  content:"";
  display:block;
  width: 30%;
  // background: rgba(0,0,0,0.5);
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  transform: rotate(2deg);
  margin: 0 auto;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
    

.texts{
  padding: 30px;
  display: grid;
  margin: 30px 0px;
  width: 100%;
  
}
.text{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 330px 330px 330px;
}
.textonly{
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.6s ease 0s;
  position: relative;
  background-color: white;
}
.textonly::before{
  content:"";
  background: image-url("pin.png") no-repeat;/* 背景画像にピンを、繰り返してほしくないのでno-repeat指定 */
  width:50px;
  height:50px;
  top:-23px;
  left:130px;
  position:absolute;
}
.textonly:hover{
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.text__image{
  height: 300px;
  width: 300px;
  border: solid 1px;
  background-size: cover;
}
.text__title{
  width: calc(100%-100px);
  font-size: 20px;
  font-weight: bold;
  width: 280px;
}
.text__right{
  padding: 10px 10px;
  background-color: white;
}
.content__right__top--title{
  font-size: 15px;
  color: black;
}
.content__right__top--title:hover{
  text-decoration: none;
}
.user__name{
  display: flex;
  padding-bottom: 5px;
}
.user__name img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}
.content__right__bottom--username{
  line-height: 50px;
  margin-left: 8px;
  font-size: 20px;
}
.good{
  justify-content: end;
  padding-top: 5px;
}

// 編集ページ
.index-page_edit{
  margin: 0 auto;
  padding-top: 30px;
}

// 検索ページ
.search-page__main{
  overflow: scroll;
}

#likes_buttons{
  text-decoration: none;
}