*{
  margin: 0;
  padding: 0;
}

// 全体
.top-page{
  width: 100%;
  height: calc(100vh - 68px);
  background-image: image-url("top-image.jpg");
  background-repeat: no-repeat;
  color: black;
  position: relative;
}

.top-text{
  text-align: center;
  position: absolute;
  top: 18%;
  left: 32%;
}

// タイトル
.top-page-title{
  font-size: 100px;
}

@keyframes typing { from { width: 10px; } }
@keyframes caret { 50% { border-color: transparent; } }

.top-page-title p{
font-family: monospace; 
width: 8ch;
border-right: .00em solid;
overflow: hidden;
font-size: 1em;
white-space: nowrap;
animation: typing 6s steps(11, end), caret .7s step-end infinite;
}

.top-page-text{
  font-size: 20px;
  margin: 50px 0;
}

// ボタン関係
button {
  /* スタイルをリセット */
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
}

.top-page-btn{
  display: grid;
  width: 250px;
  margin: 0 auto;
}

.top__right--btn {
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  padding: 8px 18px;
  position: relative;
  top: 0;
  transition: background-color 0.2s;
  border: 1px solid;
  margin: 10px 15px;
}

.top__right--btn:hover {
  background-color: #64b5f6;
  color: white;
  text-decoration: none;
}

.top__right--btn:active {
  background-color: #2196f3;
  top: 1px;
}

.top-register{
  background-color: #228B22;
}

.top-register:hover{
  background-color: #5cb85c;
}