.user-member{
  width: 100%;
  height: 100%;
  background-image: image-url("colku.jpg");
  .back-icon{
    font-size: 35px;
    margin: 25px;
    a{
      color: white;
    }
  }
}
.user-member h1{
  padding-top: 30px;
  text-align: center;
  width:400px;/*幅はお好きなサイズに*/
  font-size: 40px;
  margin: 1.6em 0;
  padding: 0.3em;
  position: relative;
  /* グラデーションで折り目がついた感じに */
  background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
  content:"";
  display:block;
  width: 30%;
  // background: rgba(0,0,0,0.5);
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  transform: rotate(2deg);
  margin: 0 auto;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.user-members{
  display: grid;
  grid-template-columns: 330px 330px 330px;
  text-align: center;
  font-size: 25px;
  gap: 80px;
  padding: 90px 150px;
}
.members{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  a{
    text-decoration: none;
    color: black;
  }
}
.user__image{
  background-size: cover;
  width: 328px;
  height: 328px;
  border-radius: 0px 0px 5px 5px;
}

// ユーザー詳細ページ
.index-page_user{
  .back-icon{
    font-size: 35px;
    margin: 25px;
    a{
      color: white;
    }
  }
}

.prologtitle_user{
  text-align: center;
  padding: 20px;
  overflow: scroll;
  font-size: 20px;
  font-weight: bold;
}
.user__img{
  text-align: center;
  margin-top: 20px;
}
.user__img img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}
.index-page_user{
  background-image: image-url("colku.jpg");
}
