@import "reset";
@import "users";
@import "tops";
@import "programminglogs";
@import "sign_up";
@import "log_in";


header{
  position: fixed;
  z-index: 1;
  width: 100%; 
}
.navbar-brand{
  font-size: 20px;
}
.search{
  justify-content: end;
  text-align: center;
  width: 400px;
}
.search-form{
  width: 400px;
}
.search-input{
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}
.search-btn{
  padding: 90px;
  width: 80px;
}
#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.left{
  font-size: 20px;
}

input[type="search"]{
  width: 220px;
}

footer{
  background-color: black;
  color: white;
  height: 40px;
  text-align: center;
  line-height: 40px;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  position: fixed;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer p{
  margin-bottom: 0;
}