@import "reset";
@import "users";
@import "tops";
@import "programminglogs";
@import "devise";
@import "show";
@import "font-awesome-sprockets";
@import "font-awesome";


#wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.left{
  font-size: 20px;
}

input[type="search"]{
  width: 220px;
}

footer{
  background-color: black;
  color: white;
  height: 40px;
  text-align: center;
  line-height: 40px;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  position: fixed;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  position: fixed;
}
footer p{
  margin-bottom: 0;
}