<div class="exposition">
  <div class="back-icon">
    <%= link_to programminglogs_path do %>
    <i class="fas fa-arrow-left"></i>
    <% end %>
  </div> 
  <h1>prolog</h1>

  <h3>日々ブログラム学習の、様々なエラーや知識をメモ感覚で投稿しよう！</h3>

  <div class="exposition_index">
    <div class="exposition-image1 e-img"></div>
    <div class="exposition-image2 e-img"></div>
    <div class="exposition-image3 e-img"></div>
    <div class="exposition-image4 e-img"></div>
    <div class="exposition-image5 e-img"></div>
  </div>
</div>