<div class="exposition">
  <div class="back-icon">
    <%= link_to programminglogs_path do %>
    <i class="fas fa-arrow-left"></i>
    <% end %>
  </div> 
  <h1>prolog</h1>

  <h3>prologとは、様々なエラーや知識をメモ感覚で投稿するアプリです！</h3>

  <div class="exposition_index">
    <div class="exposition_box">
      <div class="exposition-image1 e-img"></div>
      <div class="balloon1-left">
        <h2>アカウント作成 & ログイン</h2>
        <h4> まずはアカウントを作成しましょう。<br> アカウントがあればログインしてください。</h4>
        <h4> google・facebookでのログインもできます。</h4>
      </div>
    </div>
    <div class="exposition_box">
      <div class="exposition-image2 e-img"></div>
      <div class="balloon1-left">
        <h2>投稿する</h2>
        <h4> 日々のプログラミングのエラーや<br> 調べた知識を記録していきましょう。</h4>
        <h4> タイトル・画像・タグ・テキストを入力し投稿してください。</h4>
      </div>
    </div>
    <div class="exposition_box">
      <div class="exposition-image3 e-img"></div>
      <div class="balloon1-left">
        <h2>マイページで管理</h2>
        <h4> 自身のアカウントで管理しましょう。<br> 過去の投稿を見返すことで復習ができます。</h4>
        
      </div>
    </div>
    <div class="exposition_box">
      <div class="exposition-image4 e-img"></div>
      <div class="balloon1-left">
        <h2>投稿にコメント&いいね！</h2>
        <h4> 人の記事で参考になれば、いいねをしたり、<br> アドバイスをコメントをしてください。</h4>
        <h4> みんなで知識を共有しましょう。</h4>
      </div>
    </div>
    <div class="exposition_box">
      <div class="exposition-image5 e-img"></div>
      <div class="balloon1-left">
        <h2>いいね！ランキング</h2>
        <h4> 人に役立つ投稿をしたら、<br> いいね！をもらえた順番でランキング。</h4>
        <h4> 1位を目指して頑張ろう！</h4>
      </div>
    </div>
  </div>
</div>